// Custom.scss
// This is the file you will want to update to customize your page.
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
// Import Google fonts here

// Include any default variable overrides here (colors, font sizes, font family, etc..)
$primary: #a04add;
$secondary: #3b53c7;
$success: #a4d882;
$info: #59c1ef;
$warning: #fff689;
$danger: #e5446d;
$light: #f2f2f2;
$dark: #181853;
$light-background-color: #f8f9fa;

// Adjust nav link hover color here
$navbar-dark-hover-color: #a04add;
// Typography
// Change font family for base text

// Change font family for headings

// Change font sizes for h1-h6 using values in assignment

@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
